body{
	width: 100vw;
	overflow: scroll;
}
/*		navTop		*/
/*		navTop		*/
#navTop{
	height: auto; 
	width:100vw; 
	position: fixed; 
	opacity: 0.1;
	margin-bottom: 100vh;
}

#BoraIconNavTOP{
 	height: 9vw;
 	width: 9vw;
	margin: auto;
}
#cIconProfileNavTOP{
	height: 9vw;
	width: 9vw;
}
#iconProfileNavTOP{
	width: 9vw; 
	height: 9vw;
	margin: auto;
	border-radius: 5vw;
}

#cSearchNavTOP{
	margin-right: 2%;
	margin-left: 2%; 
	width: 58vw; 
	margin:auto;
}
#cSearchNavTOP input{
	font-size: 2em; 
	border-radius: 5vw
}

#cNotificationNavTOP{
	margin-top: 1vh; 
	width:8vw; 
	margin:auto;
}
#cNotificationNavTOP img{
	width: 100%;
}

#cMessageIconNavTOP{
	 width:8vw;
	 margin: auto;
}
#cMessageIconNavTOP img{
	width: 100%;
}
/*		navTop		*/
/*		navTop		*/

/*		navBot		*/
/*		navBot		*/
#navBot{
	position: fixed; 
	width: 100vw; 
	bottom: 0vw; 
	height: 15vw; 
	background-color: white;
}

#cHomeNavBOT{
	height: 8vw; 
	margin: auto;
}
#cHomeNavBOT img{
	height: 100%; 
	margin:auto;
}

#cSendNavBOT{
	height: 8vw; 
	margin: auto;
}
#cSendNavBOT img{
	height: 100%; 
	margin:auto;
}

#cWatchNavBOT{
	height: 8vw;
	margin: auto;
}
#cWatchNavBOT img{
	height: 100%; 
	margin:auto;
}
/*		navBot		*/
/*		navBot		*/

/*		Notification	*/
/*		Notification	*/
#cNotification{
	display: none;
	padding-top: 1vh; 
	height: 100vh; 
}
.cNotification{
	border-bottom: 0.3vw #cccccc solid; 
	width: 100vw; 
	height: 10vh;
	overflow: hidden;
}
.cProfileAndTextNotification{
	display: inline-block; 
	width: 70vw; 
	margin-left: 8vw;
}
.cProfileAndTitleNotification{
	margin-right: 1vw;
	display: inline-block;
	width: 8vw;
	overflow: hidden;
	height: 13vw;
}
.imgProfileNotification{
	display: block
;	width: 8vw;
	height: 8vw;
	margin-left:1vw;
}
.titleNotification{
	font-weight: bold;
	font-size: 2em;
}
.dateNotification{
	font-size: 1.8em;
	margin-top: -7vw;
}
.textNotification{
	margin-bottom: -2vw;
	display: inline-block;
	font-size: 2em;
	height: 15vw;
	width: 55vw;
	margin-left: 3vw;
	overflow: hidden;
}
.cNotAndConfirmNotification{
	display: inline-block; 
}
.imgNotNotification{
	width: 7vw; 
	height: 7vw; 
	border-radius: 2.5vw;
}
.imgConfirmNotification{
	width: 7vw; 
	height: 7vw; 
	margin-top: 1vw; 
	margin-bottom: 2vw;
	border-radius: 2.5vw;
}
/*		Notification	*/
/*		Notification	*/

/*		Message  	*/
/*		Message  	*/
#cMessage{
	display: none;
	height: 100vh;
}
.cMessage{
	margin-top: -2vw;
	border-bottom: 0.3vw #cccccc solid;
	height: 15vw; 
	width: 100vw; 
	margin: 4vw 4vw 0vw 4vw; 
	display: inline-flex;
	overflow: hidden;
}
.cIconMessage{
	height: 12vw; 
	width: 12vw;
	margin-right: 2vw;
}
.imgMessage{
	border-radius: 5vw;
	border: 0.3vw #cccccc solid;
	width: 10vw; 
	height: 10vw;
}

.cTextMessage{
	overflow: hidden;
	width: 70vw; 
	font-size: 1.7em;
}
.titleMessage{
	display: block; 
	width: 90vw;
	font-size: 1.2em; 
	margin-top:-1vw;
}
.dateMessage{
	margin-top: -5vw;
	font-size: 1em;
}
.textMessage{
	height: 8vw; 
	margin-top: -2vw; 
	width: 70vw; 
	overflow: hidden;
}
/*		Message  	*/
/*		Message  	*/

/*	 SmallPageEvent */
/*	 SmallPageEvent */
.cSmallPageEvent{
	height: 100vh; 
	width:100vw; 
	background-color: white; 
	top:0; 
	display: none;
}
.imgSmallPageEvent{
}
.ccTextSmallPageEvent{
	margin-left: 3vw;
}
.cTitleAndDistance{
	width: 85vw;
	display: block;
}
.titleSmallPageEvent{
	font-size: 3.3em;
	display: inline-block;
}
.textDistanceSmallPageEvent{
	font-size: 2em;
	float: right;
	margin-top: 1vw;
}
.cLocalizationAndDateSmallPageEvent{
	width:30vw;	
}
.cLocalizationSmallPageEvent{
	display: inline-block;
}
.imgMiniMapSmallPageEvent{
	display: inline-block;
	width: 3vw;
	height: 4.5vw;
	margin-top: -1.5vw;
	margin-right: 1vw;
}
.textLocationSmallPageEvent{
	font-size: 2em;
	display: inline-block;
	}
.cDateSmallPageEvent{
	display: inline-block;
	float: right;
}
.imgCalendarSmallPageEvent
{	display: inline-block;
	height: 5vw;
	width: 5vw;
	margin-top: -2vw;
}
.textDateSmallPageEvent{
	font-size: 2em;
	display: inline-block;
}
.textSmallPageEvent{
	font-size: 2em;
}
.cGroupAndTimeSmallPageEvent{
	display: inline-block;
	width: 30vw;
}
.cGroupsSmallPageEvent{
	display: inline-block;
	margin-left: 3vw;
}
.imgGroupFirstSmallPageEvent{
	margin-left: 2vw;
}
.imgGroupSmallPageEvent{
	height: 5vw;
	width: 5vw;
	margin-left: -2.5vw;
}
.cTimeSmallPageEvent{
	float: right;
	display: inline-block;
	margin-right: 0.5vw;
}
.timeSmallPageEvent{
	height: 5vw;
	width: 5vw;	
}
.textPageEventSmallPageEvent{
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.textSmallPageEvent{
	display: inline-block;
	font-size: 2em;
	margin-top: 2vw;
}
.cTextSmallPageEvent{
	margin-left: -2vw;
	display: block;
	width: 93vw;
	height: 25vh;
	overflow: hidden;
	margin-top: 3vh;
}
.textSmallPageEvent{
	font-size: 2em; 
	margin: 0vw 0vw 0vw 5vw; 
	height: 80vw; 
}
.imgConfirmSmallPageEvent{
	bottom: 5vh; 
	right: 10vw; 
	width: 15vw; 
	height: 15vw;
}
.imgNotSmallPageEvent{
	bottom: 5vh; 
	left: 10vw; 
	width: 15vw; 
	height: 15vw;
	border-radius: 10vw;
}
.imgMapSmallPageEvent{
	bottom: calc(5vh + 1vw);
	left: 42.5vw; 
	width: 13vw; 
	height: 13vw;
	border-radius: 2vw;"
}
/*	 SmallPageEvent */
/*	 SmallPageEvent */

/*	 StatusLayout	*/
/*	 StatusLayout	*/
.cLogo-StatusLayout{
	height: 5vh;
	width: 100%; 
	margin-left: 5vw; 
	padding-top: 1vh; 
	margin-bottom: 4vh;
}
.imgLogo-StatusLayout{
	display: inline-block; 
	height: 5vh; 
	width: 5vh; 
	margin-top: -2.5vh
}
.cTextLogo-StatusLayout{
	margin-left: 1vw;
	display: inline-block;
}
.textLogo-StatusLayout{
	font-size: 3.5em;
}
#cMain-StatusLayout{
	height: 18vw;
	margin-bottom: 4vh;
	margin-left: 5vw; 
	margin-right: 5vw; 
	width: 90vw; 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.c-StatusLayout{
	display: inline-block;
	height: 18vw;
}
.cImg-StatusLayout{
	display: inline-block;
	height: 10vh; 
	width: auto; 
	width: 18vw; 
}
.img-StatusLayout{
	display: inline-block;
	height: 18vw;
	width: 18vw; 
	border-radius: 4vw;
}
/*	 StatusLayout	*/
/*	 StatusLayout	*/

/*	 Presentation	*/
/*	 Presentation	*/


#cPresentationsImages{
	border-top: #d9d9d9 0.5vh solid;
}
.cPresentation{
	margin: 0vw;
}

/*	ProfilePoster	*/
/*	ProfilePoster	*/

.cProfilePoster{
	display:inline-block; 
	margin: 1vh 0 1vh 0;
}
.cImgProfilePoster{
	display: inline-block;
	margin-left: 1vw;
}
.imgProfile{
	width: 10.5vw; 
	height: 10.5vw; 
	border-radius: 3vw
}
.cTextProfilePoster{
	vertical-align: middle; 
	height: 5vh; 
	display: inline-block; 
	margin-left: 1vw; 
	width: 65vw; 
	margin-right: 7vw;
}
.profileName{
	font-size: 2.5em;
	display: inline-block; 
	margin-top: 1vh;
}
.timePost{
	font-size: 2.2em; 
	margin-left: 1vw;
	display: inline-block;
}
.cMapProfilePoster{
	display: inline-block; 
	color: white; 
	background: white; 
	margin-right: 0.5vw;
}
.imgMapProfilePoster{
	width: 8vw; 
	height: 8vw; 
	margin-top: -0.5vw;
}
.cEllipsis{
	display: inline-block; 
	background: white;
}
.imgEllipsis{
	width: 1vh; 
	height: 4vh;
}
/*	ProfilePoster	*/
/*	ProfilePoster	*/

/*	PresentationImage	*/
/*	PresentationImage	*/
.imgPresentation{
	border-bottom: #d9d9d9 0.5vh solid;
}
.cPresentationText{
	margin-top: -35vw;
	width: 92vw;
}
.presentationTitle{
	font-size:4em; 
	color: white;
}
.presentationTime{
	margin-top:15vw; 
	margin-left:1vw;
	font-size:2.5em; 
	color: white;

}/*	PresentationImage	*/
/*	PresentationImage	*/